---
title: Lichi Math blog
layout: layouts/home.njk
description: 有些概念難以用 Medium 文章描述的概念，或是用需要大量數學式與程式代碼篇幅，就會放在這
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---

<p>
 記錄難以用 Medium 文章描述的概念
</p>

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>